<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between fixed-top">
<a class="navbar-brand" href="#">NHANES AWS PROJECT</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<form class="form-inline my-2 my-lg-0">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item my-2 my-sm-0">
      <a class="nav-link" href="https://mhealth.ccs.neu.edu/" target="_blank">About Us</a>
    </li>
  </ul>
</form>
</nav> -->
<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vertical-line">
            <!-- <form action="/codeUpload" method="post" enctype="multipart/form-data"> -->

            <form name="code_upload_form" ng-model="model.code_upload_form">
                <div class="form-group">
                    <label for="codefile">Please upload your code as a zip file:</label>
                    <input
                            type="file"
                            ngf-select
                            ng-model="model.codeFile"
                            ngf-pattern="'application/zip'"
                            class="form-control-file"
                            id="codeFile"
                            name="codeFile">
                </div>


                <div class="form-group">
                    <label for="entrypoint">Entry point into your code:</label>
                    <input ng-model="model.entrypoint" type="text" class="form-control btn-sm col-lg-6 col-md-6 col-sm-12 col-xs-12" id="entrypoint" name="entrypoint" placeholder="Ex. 'main.java'">
                </div>
                <button type="submit" class="btn btn-sm btn-dark" ng-click="model.uploadCodeFile()">Upload</button>
            </form>


            <form>
                <hr>
                <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="datasetList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Please select a dataset to run your code on
                    </button>
                    <div class="dropdown-menu btn-sm" aria-labelledby="datasetList">
                        <a class="dropdown-item" href="#!/"  ng-repeat="dataset in model.dataSetList" ng-value="$index" ng-click="model.setDatasetView($index)">{{dataset}}</a>
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#!/">Upload new dataset</a>-->
                    </div>

                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#!/">Upload new dataset</a>-->
                    <div class="form-group">
                        <label for="dataset">Dataset selected:</label>
                        <input type="text" value={{model.dataset}} class="form-control btn-sm col-lg-6 col-md-6 col-sm-12 col-xs-12" id="dataset" disabled>
                        <hr>
                    </div>
                </div>
                <div>
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Please select a instance to run your code on
                    </button>
                    <div class="dropdown-menu btn-sm" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#!/"  ng-repeat="instance in model.instanceList" ng-value="$index" ng-click="model.setInstanceView($index)">{{instance}}</a>

                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="instanceType">Instance Type:</label>
                    <input type="text" value={{model.instanceType}} class="form-control btn-sm col-lg-6 col-md-6 col-sm-12 col-xs-12" id="instanceType" disabled>
                </div>
                <hr>
                <div class="form-group">
                    <label for="percentage">Number of datasets to run baseline and cost estimate on:</label>
                    <input type="text" class="form-control btn-sm col-lg-2 col-md-2 col-sm-4 col-xs-4" id="percentage" placeholder="Ex. '10'" ng-model="model.numFiles" ng-change="model.recalculateCost()"><br>
                    <label for="numMachines">Number of machines:</label>
                    <input type="text" ng-model="model.numOfMachines" class="form-control btn-sm col-lg-2 col-md-2 col-sm-4 col-xs-4" id="numMachines" placeholder="Ex. '2'" ng-change="model.recalculateCost()">
                    <label for="perDSConcat">Concatenate:</label>
                    <input type="checkbox" id="perDSConcat" ng-model="model.perDSConcat"></input><br/>
                    <label for="compDSConcat">Concatenate All:</label>
                    <input type="checkbox" id="compDSConcat" ng-model="model.compDSConcat"></input>
                    <hr>
                    Server Cost : $ {{model.cost}}
                    <br>
                    s3 Cost : ${{model.s3Cost}}
                    <br>
                    Approximate Execution Time : {{model.approxExecTime}}
                </div>
                <hr>
                <button type="button" class="btn btn-sm btn-success" ng-click="model.runBaseLine()">Run baseline and cost estimate</button>
                <button type="button" class="btn btn-sm btn-danger float-right" ng-click="model.terminateExecution()">Terminate</button>
                <br><br>
                <button type="button" class="btn btn-dark btn-block" disabled>Detailed Execution Report</button>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            Execution Summary:<button class="btn btn-sm" id="clear" ng-click="model.clearConsole()">Clear</button>
            <div class="output-console" ng-bind-html="model.message" id="output-console"></div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> -->
            <!-- <button class="btn btn-sm" id="clear" ng-click="model.socketConnection()">Query Server</button> -->
            <!-- </div> -->
        </div>
    </div> <!--container fluid ends-->
</div>